<?xml version="1.0" encoding="UTF-8"?>
<included>
	<appender name="FILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/opt/rpmdata/logs/data_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>50MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="FILEAPPENDER"/>
	</root>
	
	<logger name="uk.co.mpcontracting.rpmdata.model" level="ERROR">
		<appender-ref ref="FILEAPPENDER"/>
	</logger>
</included>
