.root {
	-fx-alignment: center;
	-fx-background-color: #474747;
}

/* Standard Component Styles */

.borderPanel {
	-fx-background-color: transparent;
	-fx-border-color: #555555;
    -fx-border-style: solid;
}

.button {
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
}

.label {
	-fx-text-fill: #c3c3c3;
}

.context-menu .menu-item .label {
	-fx-text-fill: black;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.scroll-bar:vertical .track-background {
	-fx-background-color: #474747;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c3c3c3;
    -fx-background-insets: 4, 0, 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
	-fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 8 0 8;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
	-fx-background-color:transparent;
	-fx-shape: null;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, 
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.list-view {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
    -fx-padding: 0;
    -fx-size: 25;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
	-fx-background-color: transparent;
    -fx-border-color: #555555;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 0;
    -fx-size: 25;
}

.table-view .column-header-background {
    -fx-background-color: #474747;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #c3c3c3;
}

.table-view .table-row-cell {
	-fx-background-color: #474747;
}

.table-view .table-row-cell:selected {
	-fx-background-color: #555555;
}

.table-view .table-cell {
	-fx-border-color: #555555;
    -fx-border-width: 0 1 0 0;
    -fx-text-fill: #c3c3c3;
}

/* Styles By Id */

#searchPanel {
	-fx-background-image: url("../images/header.png");
	-fx-background-repeat: no-repeat;
	-fx-alignment: center;
    -fx-border-width: 0 0 1 0;
}

#searchPanel #searchLabel {
	-fx-background-image: url('../images/search.png');
}

#playlistPanel {
    -fx-border-width: 0 0 1 0;
}

#playlistPanel .list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: #c3c3c3;
}

#playlistPanel .list-cell:empty {
    -fx-background-color: transparent;
}

#playlistPanel .list-cell:selected {
	-fx-background-color: #555555;
}

#mainPanel {
    -fx-border-width: 0 0 0 1;
}

#playingPanel {
    -fx-border-width: 0 0 0 1;
}

#controlPanel {
	-fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-spacing: 5;
}

#controlPanel #previousButton {
	-fx-background-image: url('../images/previous.png');
}

#controlPanel #playPauseButton {
	-fx-background-image: url('../images/play.png');
}

#controlPanel #nextButton {
	-fx-background-image: url('../images/next.png');
}

#progressPanel {
	-fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 5 5 5 5;
}

#progressPanel #volumeLabel {
	-fx-background-image: url('../images/volume.png');
}

#timeSlider .slider .track {
    -fx-background-color:null;
}

#optionsPanel {
	-fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-spacing: 5;
}

#optionsPanel #eqButton {
	-fx-background-image: url('../images/eq.png');
}

#optionsPanel #repeatButton {
	-fx-background-image: url('../images/repeat.png');
}

#equalizer {
	-fx-alignment: center;
	-fx-background-color: #474747;
	-fx-border-color: #555555;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

#equalizer #sliderHbox {
	-fx-padding: 5 5 5 5;
	-fx-spacing: 5;
}

#equalizer #buttonHbox {
	-fx-alignment: center;
	-fx-padding: 5 5 5 5;
	-fx-spacing: 5;
}
