.root {
	-fx-alignment: center;
	
	-jb-background-color: #474747;
	-jb-border-color: #555555;
	-jb-foreground-color: #c3c3c3;
	
	-fx-background-color: -jb-background-color;
}

/* Standard Component Styles */

.border-panel {
	-fx-background-color: transparent;
	-fx-border-color: -jb-border-color;
    -fx-border-style: solid;
}

.button {
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-min-height: 10;
}

.label {
	-fx-text-fill: -jb-foreground-color;
	-fx-min-height: 10;
}

.text-field {
	-fx-background-color: -jb-border-color, -jb-border-color, -jb-background-color;
	-fx-background-insets: 0, 1, 1;
    -fx-background-radius: 0, 0, 0;
	-fx-text-fill: -jb-foreground-color;
	-fx-highlight-fill: -jb-foreground-color;
    -fx-highlight-text-fill: -jb-background-color;
}

.text-field:focused {
	-fx-background-color: -jb-border-color, -jb-border-color, -jb-background-color;
}

.context-menu .menu-item .label {
	-fx-text-fill: black;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.scroll-bar:vertical .track-background {
	-fx-background-color: -jb-background-color;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -jb-foreground-color;
    -fx-background-insets: 4, 0, 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
	-fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 8 0 8;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
	-fx-background-color:transparent;
	-fx-shape: null;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, 
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.list-view {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: -jb-foreground-color;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:selected {
	-fx-background-color: -jb-border-color;
}

.table-view {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
    -fx-padding: 0;
    -fx-size: 25;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
	-fx-background-color: transparent;
    -fx-border-color: -jb-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 0;
    -fx-size: 25;
}

.table-view .column-header-background {
    -fx-background-color: -jb-background-color;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: -jb-foreground-color;
}

.table-view .table-row-cell {
	-fx-background-color: -jb-background-color;
}

.table-view .table-row-cell:selected {
	-fx-background-color: -jb-border-color;
}

.table-view .table-cell {
	-fx-border-color: -jb-border-color;
    -fx-border-width: 0 1 0 0;
    -fx-text-fill: -jb-foreground-color;
}

.slider .thumb {
    -fx-background-color: -jb-foreground-color;
    -fx-border-color: -jb-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 1.0em;
}

.slider:focused .thumb {
    -fx-background-color: -jb-foreground-color;
    -fx-border-color: -jb-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 1.0em;
}

.slider .track {
    -fx-background-color: -jb-foreground-color;
    -fx-background-insets: 0 10 0 10;
    -fx-background-radius: 1em;
    -fx-padding: 4;
}

.slider:vertical .track {
    -fx-background-color: -jb-foreground-color;
    -fx-background-insets: 10 0 10 0;
    -fx-background-radius: 1em;
    -fx-padding: 4;
}

.progress-bar .track {
    -fx-background-color: -jb-foreground-color;
    -fx-background-insets: 0 10 0 10;
    -fx-background-radius: 1em;
    -fx-padding: 4;
}

.progress-bar > .bar {
    -fx-background-color: -jb-border-color;
    -fx-background-insets: 2 12 2 12;
    -fx-background-radius: 1em;
    -fx-padding: 2;
}

/* Styles By Id */

#searchPanel {
	-fx-background-image: url("../images/header.png");
	-fx-background-repeat: no-repeat;
	-fx-alignment: center;
}

#searchPanel #searchTextHBox {
	-fx-alignment: center-right;
	-fx-padding: 0 5 0 0;
}

#searchPanel .text-field {
	-fx-background-image: url("../images/search.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: 5 center;
    -fx-padding: 5 5 5 25;
}

#playlistPanel {
    -fx-border-width: 0 0 1 0;
}

#playlistControlPanel {
    -fx-border-width: 1 0 0 0;
}

#playlistControlPanel #plusMinusHBox {
	-fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 0 0 0 5;
}

#playlistControlPanel #saveSettingsHBox {
	-fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 0 5 0 0;
}

#playlistPanel #addPlaylistButton {
	-fx-background-image: url('../images/plus.png');
}

#playlistPanel #deletePlaylistButton {
	-fx-background-image: url('../images/minus.png');
}

#playlistPanel #savePlaylistButton {
	-fx-background-image: url('../images/save.png');
}

#playlistPanel #settingsButton {
	-fx-background-image: url('../images/settings.png');
}

#mainPanel {
    -fx-border-width: 0 0 0 1;
}

#playingPanel {
    -fx-border-width: 0 0 0 1;
}

#playingPanel .image-view {
	-fx-image: url('../images/no-artwork.png');
}

#playingPanel #playingLabelPanel {
	-fx-border-width: 1 0 0 0;
}

#controlPanel {
	-fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-spacing: 5;
}

#controlPanel #previousButton {
	-fx-background-image: url('../images/previous.png');
}

#controlPanel #playPauseButton {
	-fx-background-image: url('../images/play.png');
}

#controlPanel #nextButton {
	-fx-background-image: url('../images/next.png');
}

#progressPanel {
	-fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 5;
}

#progressPanel #volumeHBox {
	-fx-alignment: center;
	-fx-spacing: 3;
}

#progressPanel #volumeLabel {
	-fx-background-image: url('../images/volume.png');
	-fx-padding: 0 5 0 0;
}

#timeSlider .slider .track {
    -fx-background-color:null;
}

#optionsPanel {
	-fx-alignment: center;
	-fx-padding: 0 5 0 5;
    -fx-border-width: 1 0 0 0;
    -fx-spacing: 5;
}

#optionsPanel #shuffleButton {
	-fx-background-image: url('../images/shuffle.png');
}

#optionsPanel #eqButton {
	-fx-background-image: url('../images/eq.png');
}

#optionsPanel #repeatButton {
	-fx-background-image: url('../images/repeat.png');
}

#optionsPanel #randomButton {
	-fx-background-image: url('../images/random.png');
}

#equalizer {
	-fx-alignment: center;
	-fx-background-color: -jb-background-color;
	-fx-border-color: -jb-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

#equalizer #sliderHbox {
	-fx-padding: 5 5 5 5;
	-fx-spacing: 5;
}

#equalizer #buttonHbox {
	-fx-alignment: center;
	-fx-padding: 5 5 5 5;
	-fx-spacing: 5;
}
