body {
	background-color: #ffffeb;
	font-family: Helvetica;
}

h1, h2 {
	text-align: center;
}

.content {
	width: 1024px;
	margin: 0 auto;
}

.center {
	text-align: center;
}

table.downloads {
	width: 95%;
	margin-left: auto; 
    margin-right: auto;
}

table.downloads td {
	vertical-align: top;
}

table.downloads td ul {
    list-style-position: inside;
    padding-left:0;
}

td.center {
	text-align: center;
}

.disclaimer {
	border-style: solid;
	padding: 10px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}