body {
	background-color: #ffffeb;
	font-family: Helvetica;
}

h1, h2 {
	text-align: center;
}

.content {
	width: 1024px;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.download {
	text-align: center;
}

.download img {
	padding: 0 15px 0 15px;
}

.pointer {
	cursor: pointer;
}

.linux {
	display: none;
	padding: 15px;
	text-align: center;
}

.linux a {
	padding: 15px;
}

.disclaimer {
	border-style: solid;
	padding: 10px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}